* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Visby-Medium", sans-serif;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F8FBFA;
  position: relative;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

input:focus {
  outline: none;
}
