@import url(./font.css);

header {
  width: 100%;
  height: 118px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}

header div {
  display: flex;
  flex-direction: column;
  gap: 17px;
  width: 125px;
}

header div img {
  width: 100%;
  height: 17.81px;
}

.border-50 {
  border-top: 1px solid black;
  width: 50%;
  height: 0;
}

header nav {
  font-family: "Visby-Medium", sans-serif;
  font-size: 18px;
  display: flex;
  gap: 32px;
}

header nav a {
  color: black;

  transition: all 0.3s ease;

  &:hover {
    text-decoration: underline;
  }
}

header button {
  width: 128px;
  height: 52px;
  background-color: #28887a;
  color: white;
  font-size: 15px;
  font-weight: "Visby-Regular", sans-serif;
  border: none;
  font-weight: 600;
  transition: all 0.3s ease;

  &:hover {
    background-color: #1f6b5e;
  }
}

main {
  position: relative;
}

.line {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #030605;
  left: 138px;
  z-index: 1;
  opacity: 32%;
}

.line2 {
  position: absolute;
  height: 804px;
  width: 1px;
  background-color: #030605;
  left: 400px;
  z-index: 1;
  opacity: 22%;
}

.line4 {
  position: absolute;
  height: calc(100% - 848px);
  width: 1px;
  background-color: #030605;
  left: 91%;
  top: 848px;
  z-index: 1;
  opacity: 32%;
}

.lineSmall {
  position: absolute;
  height: 114px;
  width: 1px;
  background-color: #030605;
  left: 60px;
  top: 198px;
  z-index: -1;
}

.lineSmall2 {
  position: absolute;
  height: 114px;
  width: 1px;
  background-color: #030605;
  left: 95.59%;
  top: 974px;
  z-index: -1;
}

.heroSection {
  position: relative;
  font-family: "Visby-Regular", sans-serif;
  height: 1418px;
  border-bottom: 1px solid rgb(3, 6, 5, 0.32);
}

.yellow {
  position: absolute;
  top: 0;
  left: 0;
  width: 66.67%;
  height: 804px;
  background-color: #ffd476;
  border-top-right-radius: 406px;
  z-index: -2;
}

.wrapperGray {
  position: absolute;
  top: 132px;
  right: 0;
  width: 56%;
  height: 600px;
  background-color: transparent;
  z-index: 1;
  border-bottom-left-radius: 300px;
  border: 1px solid rgba(3, 6, 5, 0.22);
}

.gray {
  position: absolute;
  right: 0;
  bottom: 30px;
  width: 96.77%;
  height: 600px;
  background-color: #e0e3e1;
  z-index: 1;
  border-bottom-left-radius: 300px;
}

.mirroredText {
  position: absolute;
  top: 160px;
  right: 0;
  width: 30.49%;
  font-family: "Visby-Medium", sans-serif;
  font-size: 72px;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  transform: rotate(180deg);
  z-index: 3;
}

.gray-form-1 {
  position: absolute;
  top: 621px;
  left: 130px;
  width: 270px;
  height: 478px;
  background-color: #e0e3e1;
  z-index: 1;
  border-radius: 300px;
}

.gray-form-2 {
  position: absolute;
  top: 804px;
  left: 460px;
  width: 270px;
  height: 418px;
  background-color: #e0e3e1;
  z-index: -3;
  border-radius: 0px 0px 300px 300px;
}

.wrapperContent {
  position: absolute;
  margin-top: 136px;
  margin-left: 130px;
  z-index: 1;
  width: 50.9%;
  height: 370px;
}

.wrapperContent h2 {
  font-family: "Roxborough", sans-serif;
  font-weight: 700;
  font-size: 102px;
  width: 733px;
}

.wrapperContent p {
  font-family: "Visby-Regular", sans-serif;
  font-size: 24px;
  margin-top: 20px;
  width: 65.5%;
}

.buttonWrapper {
  margin-left: 350px;
  width: 174px;
  height: 52px;
  background-color: #28887a;
  color: white;
  font-size: 15px;
  font-weight: "Visby-Regular", sans-serif;
  border: none;
  font-weight: 600;
  transition: all 0.3s ease;
  margin-top: 144px;
  display: flex;
  align-items: center;
  padding: 16px 18px;
  position: relative;

  &:hover {
    background-color: #1f6b5e;
  }
}

.buttonWrapper button {
  font-size: 16px;
  font-family: "Visby-Medium", sans-serif;
  font-weight: 500;
  color: white;
  height: 100%;
  width: 112px;
}

.buttonWrapper p {
  position: absolute;
  margin: 0;
  left: 132px;
  transform: translate();
}

.line3 {
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #030605;
  left: 7%;
  top: 922px;
  z-index: -1;
  opacity: 32%;
}

.image2 {
  position: absolute;
  top: 1158px;
  left: 64px;
  width: 132px;
  height: 200px;
  z-index: -1;
}

.image3 {
  position: absolute;
  top: 1168px;
  left: 294px;
  width: 132px;
  height: 200px;
  z-index: -1;
}

.arrow {
  position: absolute;
  top: 1297px;
  left: 39.2%;
  width: 125px;
  z-index: -1;
}

.stats {
  position: absolute;
  top: 888px;
  left: 54.44%;
  z-index: -1;
  display: flex;
  gap: 84px;
  align-items: center;
}

.stat {
  display: flex;
  flex-direction: column;
  width: 133px;
}

.stat h2 {
  font-family: "Visby-Medium", sans-serif;
  font-size: 94px;
}

.stat p {
  font-family: "Visby-Regular", sans-serif;
  font-size: 24px;
}

.inputContainer {
  position: absolute;
  top: 1180px;
  left: 53.61%;
  width: 546px;
  height: 150px;
  display: flex;
  flex-direction: column;
  z-index: -1;
  gap: 58px;
}

.inputContainer label {
  font-weight: 700;
  font-size: 42px;
  font-family: "Roxborough", sans-serif;
}

.inputWrapper {
  width: 546px;
  height: 66px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
}

.inputWrapper input {
  width: 358px;
  height: 66px;
  padding: 20px 26px;
  border: none;

  &::placeholder {
    font-size: 20px;
    font-weight: 500;
  }
}

.inputWrapper button {
  width: 188px;
  height: 100%;
  background-color: #000;
  color: white;
  font-size: 15px;
  font-weight: "Visby-Regular", sans-serif;
  border: none;
  font-weight: 600;
  transition: all 0.3s ease;
  font-size: 20px;
  position: absolute;

  &:hover {
    background-color: #343434;
  }
}

.blur {
  position: absolute;
  top: 0;
  left: 77.36%;
  width: 511px;
  height: 511px;
  border-radius: 100px;
  height: 100%;
  background-color: #e84f21;
  filter: blur(132px);
  opacity: 10%;
  top: 0;
  bottom: 44px;
}

.createSection {
  position: relative;
  height: 922px;
  padding-inline: 140px;
  padding-block: 100px 60px;
  border-bottom: 1px solid rgb(3, 6, 5, 0.32);
}

.createSection h3 {
  font-family: "Roxborough", sans-serif;
  font-size: 82px;
  margin-top: 100px;
  width: 535px;
  text-align: start;
}

.wrapperCards {
  display: flex;
  margin-top: 92px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 48px 59px;
  transition: background-color 0.3s ease;
  height: auto;

  &:hover {
    background-color: #fff;
  }
}

.card img {
  width: 146px;
  height: 146px;
}

.card h5 {
  font-family: "Visby-Medium", sans-serif;
  font-size: 32px;
  margin-top: 42px;
}

.card p {
  font-family: "Visby-Regular", sans-serif;
  font-size: 20px;
  margin-top: 16px;
}

.blurYellow {
  position: absolute;
  top: 31px;
  left: -117px;
  width: 304px;
  height: 304px;
  background-color: #f1d35d;
  filter: blur(132px);
  opacity: 20%;
}

.providingSection {
  position: relative;
  height: 1400px;
  padding-block: 80px;
  padding-inline: 9.03%;
  text-align: end;
  border-bottom: 1px solid rgb(3, 6, 5, 0.32);
}

.providingSection h3 {
  font-family: "Roxborough", sans-serif;
  font-size: 82px;
}

.gray-form-3 {
  position: absolute;
  top: 360px;
  left: 0;
  width: 44.44%;
  height: 600px;
  background-color: #e0e3e1;
  z-index: 1;
}

.gray-form-4 {
  position: absolute;
  top: 550px;
  left: 30.21%;
  width: 60.76%;
  height: 428px;
  background-color: #e0e3e1;
  z-index: 1;
  border-left: 30px solid white;
  border-top: 30px solid white;
  border-bottom-right-radius: 200px;
}

.yellow-2 {
  position: absolute;
  top: 775px;
  left: 33.33%;
  width: 66.67%;
  height: 578px;
  background-color: #ffd476;
  border-top-right-radius: 406px;
  z-index: -2;
  display: flex;
  text-align: left;
  flex-direction: column;
}

.yellow-2 p {
  font-family: "Visby-Medium", sans-serif;
  font-size: 20px;
  margin-top: 323px;
  margin-left: 60px;
  width: 697px;
}

.yellow-2 button {
  width: 128px;
  height: 52px;
  background-color: #28887a;
  color: white;
  font-size: 15px;
  font-weight: "Visby-Regular", sans-serif;
  border: none;
  font-weight: 600;
  transition: all 0.3s ease;
  margin-left: 80px;
  margin-top: 41px;

  &:hover {
    background-color: #1f6b5e;
  }
}

.yellow-2 img {
  width: 94px;
  margin-left: 69.17%;
  position: absolute;
  top: 458px;
}

.line-5 {
  position: absolute;
  height: 425px;
  width: 1px;
  background-color: #030605;
  left: 32.3%;
  right: 67.7%;
  top: 977px;
  z-index: -1;
  opacity: 32%;
}

.uniqueSection {
  position: relative;
  height: 1440px;
  padding-block: 80px;
  text-align: left;
  border-bottom: 1px solid rgb(3, 6, 5, 0.32);
}

.uniqueSection h3 {
  font-family: "Roxborough", sans-serif;
  font-size: 82px;
  margin-bottom: 100px;
  margin-left: 11%;
  position: absolute;
  width: 827px;
}

.uniqueSection img {
  position: absolute;
  margin-top: 360px;
  width: 100%;
  height: 600px;
  z-index: 1;
}

.uniqueSection p {
  position: absolute;
  width: auto;
  left: 11%;
  margin-right: 11%;
  font-size: 20px;
  margin-top: 1120px;
}

.amazingSection {
  position: relative;
  height: 1440px;
  padding-block: 80px;
  border-bottom: 1px solid rgb(3, 6, 5, 0.32);
}

.amazingSection h3 {
  font-family: "Roxborough", sans-serif;
  font-size: 82px;
  margin-bottom: 100px;
  position: absolute;
  text-align: end;
  left: 16%;
  right: 9%;
}

.amazingSection img {
  position: absolute;
  margin-top: 280px;
  width: 100%;
  height: 600px;
  z-index: 1;
}

.yellow-3 {
  position: relative;
  right: 9.03%;
  width: 100%;
  height: 290px;
  background-color: #ffd476;
  border-bottom-left-radius: 406px;
  z-index: 1;
  top: 880px;
  display: flex;
  flex-direction: row-reverse;
}

.yellow-3 div {
  position: absolute;
  display: flex;
  text-align: left;
  width: 100%;
  flex-direction: column;
}

.yellow-3 div h3 {
  font-family: "Visby-Medium", sans-serif;
  font-size: 46px;
  position: absolute;
  right: 70%;
  width: 300px;
  top: 68px;
}

.yellow-3 div p {
  font-family: "Visby-Medium", sans-serif;
  font-size: 20px;
  width: 627px;
  position: absolute;
  top: 128px;
  right: 43.5%;
}

.yellow-3 button {
  width: 128px;
  height: 52px;
  background-color: #28887a;
  color: white;
  font-size: 15px;
  font-weight: "Visby-Regular", sans-serif;
  border: none;
  font-weight: 600;
  transition: all 0.3s ease;
  margin-top: 128px;
  margin-right: 60px;

  &:hover {
    background-color: #1f6b5e;
  }
}

.feedbackSection {
  display: flex;
  flex-direction: column;
  height: 870px;
  padding-top: 80px;
  padding-inline: 9.03% 12.5%;
}

.feedbackSection div h3 {
  font-family: "Roxborough", sans-serif;
  font-size: 82px;
  margin-bottom: 100px;
  text-align: left;
}

.feedbackSection div {
  display: flex;
  justify-content: space-between;
}

.gray-small-1 {
  width: 265px;
  height: 410px;
  background-color: #e0e3e1;
  border-bottom-right-radius: 200px;
}

.wrapperQuote {
  display: flex;
  justify-content: space-between;
}

.quote {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.quote h5 {
  font-family: "Visby-Medium", sans-serif;
  font-size: 36px;
}

.quote:nth-child(2) {
  font-family: "Visby-Regular", sans-serif;
  font-size: 36px;
  width: 815px;
}

.quote:nth-child(3) {
  font-family: "Visby-Regular", sans-serif;
  font-size: 32px;
  color: #5c5e5e;
}

.interestSection {
  display: flex;
  width: 100%;
  background-color: #ffd476;
  border-bottom-right-radius: 400px;
  height: 566px;
  z-index: 1;
  padding-top: 80px;
  padding-inline: 9%;
  position: relative;
}

.cta {
  display: flex;
  flex-direction: column;
  gap: 38px;
  align-items: start;
}

.cta h3 {
  font-family: "Roxborough", sans-serif;
  font-size: 82px;
  width: 677px;
}

.cta p {
  font-size: 20px;
  font-family: "Visby-Medium", sans-serif;
}

.cta button {
  width: 128px;
  height: 52px;
  background-color: #28887a;
  color: white;
  font-size: 15px;
  font-weight: "Visby-Regular", sans-serif;
  border: none;
  font-weight: 600;
  transition: all 0.3s ease;

  &:hover {
    background-color: #1f6b5e;
  }
}

footer {
  display: flex;
  flex-direction: column;
  padding: 100px 130px 45px 130px;
  height: fit-content;
  position: relative;
}

.wrapperLogo {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.wrapperLogo img {
  width: 243px;
  height: 42px;
}

.wrapperLogo p {
  font-family: "Visby-Regular", sans-serif;
  font-size: 20px;
  width: 293px;
}

.wrapperContentFooter {
  display: flex;
  justify-content: space-between;
}

.wrapperFooter {
  display: flex;
  justify-content: space-between;
  gap: 105px;
}

.wrapperFooter nav h5 {
  font-family: "Visby-Medium", sans-serif;
  font-size: 20px;
  margin-bottom: 32px;
}

.wrapperFooter nav p {
  font-family: "Visby-Regular", sans-serif;
  font-size: 15px;
  margin-bottom: 32px;
  color: #5C5E5E;
}

.lineFooter {
  height: 1px;
  width: 90%;
  background-color: #030605;
  position: absolute;
  left: 0;
  top: 446px;  
}

.copyright {
  display: flex;
  justify-content: space-between;
  padding: 45px 0 0 0;
  margin-top: 45px;
  color: #5C5E5E;
  font-family: 'Visby-Regular', sans-serif;
}

.copyright div {
  font-size: 15px;
  display: flex;
  margin-right: 60px;
  gap: 34px;  
}